// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


#stats-table .true {
  color: lightgrey;
}

#stats-table .false {
  color: grey;
}

#stats-table .false:hover {
  color: grey;
}

#stats-table .true:hover {
  color: lightgrey;
}



#stats-table a:hover {
  text-decoration: none;
  // border: 1px solid lightgrey;
  // border-radius: 50%;
  -webkit-box-shadow: 10px 10px 15px -9px rgba(0,0,0,0.66);
-moz-box-shadow: 10px 10px 15px -9px rgba(0,0,0,0.66);
box-shadow: 10px 10px 15px -9px rgba(0,0,0,0.66);
  background-color: transparent;
}
